h1 {
  color: blue;
  font-size: 30px;
}
.temperature {
  color: blue;
  font-size: 50px;
}
h6 {
  color: brown;
}

/* Weather forecast */
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperatures-max {
  font-size: 13px;
}
.weather-forecast-temperatures-min {
  opacity: 0.5;
  font-size: 13px;
}
/* Forecast design over */

i {
  color: red;
}

.days-col {
  text-align: center;
}

.my-card {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.my-container {
  height: 100px;
  margin-top: 50px;
}

.units {
  font-size: 50px;
}

.units a {
  color: blueviolet;
  text-decoration: none;
  cursor: pointer;
}
